[submodule "app/src/main/java/com/sarang/torang/di/torang_network_di"]
	path = app/src/main/java/com/sarang/torang/di/torang_network_di
	url = https://github.com/sarang628/torang_network_di.git
[submodule "app/src/main/java/com/sarang/torang/di/repository"]
	path = app/src/main/java/com/sarang/torang/di/repository
	url = https://github.com/sarang628/repository.git
[submodule "gradle/TorangToml"]
	path = gradle/TorangToml
	url = https://github.com/sarang628/TorangToml.git
